* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    font-family: Barlow,Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
}

.container {
    padding: 0 30px 0 30px;
    margin: 0 auto;
    width: 1024px;
}

.header__link, .link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    opacity: inherit;
}

.avatar {
    border-radius: 50%;
}

.avatar-profile {
    width: 36px;
    height: 36px;
}

.avatar-artist {
    width: 100px;
    height: 100px;
}

.track-img {
    width: 70px;
    height: 70px;
}

.track-description {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 15px;
}

.button_transparent {
    background-color: transparent;
    border: transparent;
}

.artist-name {
    font-size: large;
    font-weight: bold;
    margin-top: 12px;
}

.track-name, .track-artist-name {
    font-size: 14px;
}

.track-name {
    font-weight: bold;
}

.musical-genre {
    display: inline-block;
    color: #999;
    font-size: 14px;
    line-height: 18px;
}

.musical-genre:nth-child(n+2):before {
    content: " ·";
    font-weight: normal;
    margin-right: 3px;
}

.header {
    display: flex;
    align-items: center;
    background-color: black;
    height: 60px;
}

.header__player {
    display: flex;
    flex: 1;
}

.header__player__panel {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.header__player__panel_item {
    display: inline-block;
}

.header__player__panel__button__i {
    color: #999;
    margin: 5px;
}

.header__logo {
    display: flex;
    flex: 0.5;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
}

.header__logo__img-last-fm {
    width: 90px
}

.header__nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.header__nav___img-search {
    height: 16px;
}

.header__nav-list {
    font-size: smaller;
    font-weight: lighter;
    margin-right: 15px;
}

.header__nav-item {
    color: #999;
    display: inline-block;
    margin-left: 10px;
}

.header__nav-item:hover {
    color: white;
}

.main__section {
    display: flex;
    flex-direction: column;
}

.main__title {
    font-weight: bold;
    text-align: center;
    margin-top: 48px;
    font-size: 48px;
}

.main__section .main__title{
    font-size: large;
}

.main__section .main__title:after {
    display: block;
    content: "";
    background: #b90000;
    height: 2px;
    width: 50px;
    margin: 18px auto;
}

.main__artists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__artists-item {
    display: inline-block;
    margin: 15px;
    line-height: 21px;
}

.main__tracks-list {
    display: grid;
    grid-gap: 20px 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-left: auto;
    margin-right: auto;
}

.main__tracks-item {
    display: flex;
}

.footer {
    background-color: #111;
    margin-top: 48px;
}

.footer__top__col {
    color: aliceblue;
    list-style-type: none;
    width: 240px;
    padding: 0 15px 0 15px;
    font-size: 14px;
}

.footer__top__col__title {
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.footer__top {
    padding: 48px 0 48px;
}

.footer__top__row {
    display: flex;
    justify-content: center;
    line-height: 24px; 
    padding-left: 30px;
    padding-right: 30px;
}

.footer__bottom {
    color: aliceblue;
    padding: 18px 0 48px;
}

.footer__bottom__row {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.footer__bottom__row__info {
    width: 900px;
}
.footer__bottom__row__logo {
    width: 100px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;
    font-size: 12px;
}

.footer__bottom__row__logo__img {
    width: 37px;
    height: 20px;
}

.footer__bottom__language-list {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 0 15px 0 15px;
}

.footer__bottom__language-item {
    color: #666;
    display: inline;
    cursor: pointer;
    margin-right: 10px;
    line-height: 24px;
}

.footer__bottom__timezone {
    font-size: 14px;
    line-height: 24px;
    margin-top: 6px;
    padding: 0 15px 0 15px;
    font-weight: normal;
}

.footer__bottom__legal-list {
    padding: 0 15px 0 15px;
    margin-top: 12px;
}

.footer__bottom__legal-item {
    display: inline-block;
    line-height: 18px;
    font-size: 12px;
    color: #666;
}

.footer__bottom__legal-item:nth-child(n+3):before {
    content: " ·";
    font-weight: normal;
    margin-right: 3px;
}

.footer__bottom__legal-wiki {
    padding: 0 15px 0 15px;
    color: #666;
    font-size: 12px;
    line-height: 18px;
}

.main__search-title {
    font-size: 30px;
    margin-top: 24px;
}

.main__search-nav-list {
    margin-top: 18px;
    font-size: 14px;
}

.main__search_nav-item {
    display: inline-block;
    margin-right: 2px;
    padding-right: 10px;
}

.main__search_nav-item > a {
    color: inherit;
    text-decoration: none;
}

.main__search_nav-item:after {
    display: block;
    content: "";
    height: 1px;
    margin-top: 18px;
}

.main__search_nav-item:hover:after {
    background: #b90000;
}

.main__search-content {
    display: grid;
    grid-template-columns: 60% 40%;
}

.main__search-content__search-form {
    display: flex;
    margin-top: 24px;
    height: 40px;
    border-color: #999;
}

.main__search-content__search-form__input {
    width: 100%;
    height: 100%;
    padding: 6px 0px 6px 12px;
    border: 1px solid #999;
    border-right: none;
}

.main__search-content__search-form__input:focus {
    outline: none;
}

.main__search-content .main__section {
    margin-top: 24px;
}

.main__search-content__block-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.main__search-content__block-item {
    display: inline-block;
    position: relative;
}

.main__search-content__block-img {
    height: 100%;
    width: 100%;
}

.main__search-content__block-title, .main__search-content__block-subtitle {
    position: absolute;
    line-height: 18px;
    color: white;
    bottom: 8px;
    left: 16px;
    text-shadow: 0 0 10px rgb(0 0 0 / 70%);
}

.main__search-content__block-title {
    bottom: 26px;
    font-size: 14px;
    font-weight: bold;
}

.main__search-content__block-subtitle {
    font-size: small;
}

.main__search-content__more-link {
    color: #005399;
    text-align: right;
    margin-top: 12px;
}

.main__search-content__more-link:nth-child(3):after {
    content: " >";
    font-weight: normal;
    margin-right: 3px;
}

.main__search-content__right-side {
    border-left: solid;
    border-width: 1px;
    border-color: #999;
    background-color: rgb(243, 243, 243);
    margin-bottom: -100%;
}

.main__search-content__right-side__p {
    color: #999;
    margin-top: 24px;
    text-align: center;
    font-size: small;
}

.main__search-content__left-side {
    margin-right: 10px;
}

.main__search-content__track-table {
    border-collapse: collapse; 
    margin-top: 24px;
    font-size: 14px;
}

.table__bottom__border {
    border-bottom: 0.5px solid;
    border-color: #999;
}

.table__bottom__border:hover {
    background-color:  #f9f9f9;
}

.main__search-content__track-table__play, .main__search-content__track-table__music, .main__search-content__track-table__favorite {
    width: 40px;
}

.main__search-content__track-table__music-img {
    width: 32px;
    height: 32px;
}

.main__search-content__track-table__music-name {
    font-weight: bold;
}

.main__search-content__track-table__duration {
    color: #999;
    text-align: right;
}

.button__search-img {
    width: 16px;
    height: 16px;
}

.button__search-reset, .button__search-submit {
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    border-left: none;
}

.main__search-content__title {
    font-weight: normal;
}

.main__search-content__right-side__p > a {
    text-decoration: underline;
}

.main__search-content__right-side__p > a:hover {
    text-decoration: none;
}